{% extends "../app/base.html" %}
{% block content %}

<style>
  .container .row {
    height: 100vh;
    width: 50%;
  }
  .p {
    text-align: center;
    justify-content: center;
  }
</style>

<div class="container align-items-center">
  <div class="row align-items-center justify-content-center mx-auto">
    
    <div class="row-md-6">
      {% if form.errors %}
        <p class="text-center">Your username and password didn't match. Please try again.</p>
      {% endif %}

      {% if next %}
        {% if user.is_authenticated %}
          <p class="text-center">Your account doesn't have access to this page. To proceed,
            please login with an account that has access.</p>
        {% endif %}
      {% endif %}
    </div>

    <div class="form-group row-md-6">
      <form method="post" action="{% url 'login' %}" class="form-signin">
        {% csrf_token %}
        <div class="mb-3">
          <label for="{{ form.username.id_for_label }}" class="form-label">{{ form.username.label }}</label>
          <input 
            class="form-control"
            type="{{ form.username.widget.input_type }}" 
            name="{{ form.username.html_name }}" 
            autofocus="" 
            autocapitalize="none" 
            autocomplete="username" 
            maxlength="{{ form.username.field.max_length }}" 
            required="" 
            id="{{ form.username.id_for_label }}">
        </div>
        <div class="mb-3">
          <label for="{{ form.password.id_for_label }}" class="form-label">{{ form.password.label }}</label>
          <input 
            class="form-control"
            type="password" 
            name="password" 
            autocomplete="current-password" 
            required="" 
            id="{{ form.password.id_for_label }}">

        </div>
        
        <button type="submit" class="btn btn-primary">Login</button>
      </form>
      
    </div>
  </div>
</div>
{% endblock %}

